@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    @variants responsive{
        .hide-scrollbar::-webkit-scrollbar{
            display:none;
        }

        .hide-scrollbar{
            -ms-overfloew-style:none;
            scrollbar-width:none;
        }
    }
}

body{
    font-family: 'Exo',sans-serif;
}

h1, h2, h3{
    font-family: 'Exo',sans-serif;

}